@import "../../_mixins/mixins";
@import "../../_colors/colors";
@import "../../_variables/variables";

.header {
  position: relative;
  width: 100%;
  height: auto;
  z-index: $z-index * 2;

  &__logo {
    position: fixed;
    width: 90px;
    height: 86px;
    top: 0;
    cursor: pointer;
  }
  &__search {
    position: relative;
    @include margin('left', auto);
    justify-self: flex-end;
    align-self: center;
    width: 22px;
    height: 24px;
    cursor: pointer;
    line-height: 56px;
  }

  &__icon {
    position: absolute;
    display: block;
    width: auto;
    height: 100%;
    top: 0;
    cursor: pointer;
    outline: none;
    &_curved {
      @include border-radius(0 3px 3px 0);
      width: 14px;
      height: 14px;
      top: calc((100% - 12px) / 2);
      left: calc((100% - 12px) / 2)
    }
  }

  
}
