@import "../../styles/_mixins/mixins";
@import "../../styles/_colors/colors";
@import "../../styles/_variables/variables";

.srv-underlayer {
  position: relative;
  padding: 0;
  width: 100%;
  background-color: #d8dcde;
  box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.08), 0 2px 5px 0 rgba(0, 0, 0, 0.06);
}